.center {
    text-align: center;
    margin-right: 10px;
      padding: 0;
}
 .container{
     padding: 0;
 }

.logosize1{
    height: 40px;
    width: 40px;
    margin-top: 10px;

}

.top{
    border-top: solid #808099 0.5px;
    background-color: #EEE;
    padding: 0;
}

.marT{
    margin-top: 40px; 
}

.leftSide{
    background-color: snow;
    height: 100%;
    margin-left: 0;

}

.firstBarElement{
    font-size: 15px;
    color: grey ;  
}

.header{
    margin-top: 30px;
    margin-bottom: 5px;
    text-align: left;
    color: grey;
    
}

.headerP{
    margin-bottom: 50px;
    color: gray;

}

.centerBox{

    background-color: white;
    height: 90%;
    padding: 0px;

}

.boxText{
    text-align: right;
    font-size: 15px;
    color: grey;
    padding-top: 15px;
}

.topHeader{
    font-size: 25px;
    padding-top: 30px;
    padding-left: 15px;

}


.TableSett{
        width: 100%;
    text-align: left;
}

.tabletop{
    background-color: #999999;
    height: 40px;
}

.co{

border-right:solid 0.5px #808088;
padding-left: 5px; 
}

.color1{
    background-color: grey;
    height: 30px;
}
.color2{
    background-color: white;
    height: 30px;
}

/*

table th:after {
    content: "";
    display: none;
    width: 0;
    height: 0;
    margin-top: -5px;

    
    top: 50%;
    right: 20px;
   
}
 */
.bsc {
    width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 10px solid red;
    
}
    


table th.desc:after {
    display: block;
    border-style: solid;
    border-width: 10px 5px 0 5px;
    border-color: #E2E2E2 transparent transparent transparent;
}

table tr:nth-child(even) td {
    background-color: #EEE;
    height: 30px;
}

table tr:nth-child(odd) td {
    background-color: white;
    height: 30px;
}

table th {
    border-right:solid 0.5px #808088;
    padding-left: 10px;
}
